StepFunctions/ResumeCluster.json
{
    "StartAt": "CheckCluster",
    "States": {
      "CheckCluster": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:eu-west-1:694425320816:function:redshift-step-functions-CheckRSStatus-15R0TC9IJ08LX",
        "ResultPath": "$.cluster",
        "Next": "ClusterStatusChoice"
      },
      "ClusterStatusChoice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.cluster.ClusterStatus",
            "StringEquals": "available",
            "Next": "Succeed"
          },
          {
            "Variable": "$.cluster.ClusterStatus",
            "StringEquals": "paused",
            "Next": "ResumeCluster"
          },
          {
            "Variable": "$.cluster.ClusterStatus",
            "StringEquals": "resuming",
            "Next": "WaitResume"
          }
        ]
      },
      "ResumeCluster": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:eu-west-1:694425320816:function:redshift-step-functions-ResumeRS-1HLAKC599E9FQ",
        "ResultPath": "$.cluster",
        "Next": "WaitResume"
      },
      "WaitResume": {
        "Type": "Wait",
        "Seconds": 30,
        "Next": "CheckCluster"
      },
      "Succeed": {
          "Type": "Succeed"
      }
    }
  }